.path-container {
    display: flex;
    align-items: center;
    width: 11vw;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    /* background-color: white;
    box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px; */

}


.path-container>span {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1vw;
    opacity: 75%;

}

.icon-container {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 3px 10px;
}

.icon {
    color: #757575;
    padding-left: 7px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
    margin-top: 7.5px;
}