.sidebar-container {
    display: grid;
    padding: 10px;
    margin-top: 15px;

}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1vw;
}

img {
    width: 3.5vw;
}

hr {
    width: 150px;
    margin-left: 50px;
    margin-top: 15px;
    opacity: 50%;
}